<nz-card class="quick-start-card" style="width:100%" [nzTitle]="title">
    <ng-template #title>
        <h1>Start using EzPoll today!</h1> 
    </ng-template>
    <button 
        routerLink="/my-polls"
        nzBlock
        nz-button 
        nzSize="large"
        nzType="primary"
    >
        Create Poll Now!
    </button>
    <nz-divider [nzText]="text">
        <ng-template #text>
            OR
        </ng-template>
    </nz-divider>
    <button 
        routerLink="/public-polls"
        nzBlock
        nz-button 
        nzSize="large"
        nzType="primary"
    >
        Take Poll Now!
    </button>
</nz-card>
