<div class="create-poll-wrapper">
    <button 
        (click)="showModal()"
        nz-button 
        nzSize="large"
        nzType="primary"
    >
        <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
        Create New Poll
    </button>
    <nz-modal 
        [(nzVisible)]="isVisible" 
        nzTitle="Create New Poll" 
        (nzOnCancel)="cancelCreate()" 
        [nzFooter]="customModalFooter"
        nzOkText="Create"
        nzCancelText="Cancel"
    >
        <ng-template #customModalFooter>
            <button 
                nz-button 
                nzType="default" 
                nzSize="small"
                (click)="cancelCreate()"
            >
                Cancel
            </button>
        </ng-template>
        <ng-container *nzModalContent>
            <app-poll-form [appUser]="appUser"></app-poll-form>
        </ng-container>
      </nz-modal>
</div>
