<div class="create-poll-wrapper">
    <button 
        (click)="toggleModal()"
        nz-button 
        nzSize="large"
        nzType="primary"
    >
        <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
        Create New Poll
    </button>
    <nz-modal
        nzWidth="90%"
        [(nzVisible)]="isVisible" 
        nzTitle="Create New Poll" 
        (nzOnCancel)="toggleModal()" 
        [nzFooter]="customModalFooter"
        nzOkText="Create"
        nzCancelText="Cancel"
    >
        <ng-template #customModalFooter>
            <button 
                nz-button 
                nzType="text" 
                nzSize="small"
                nzDanger
                (click)="toggleModal()"
            >
                Cancel
            </button>
        </ng-template>
        <ng-container *nzModalContent>
            <app-poll-form (closeModal)="toggleModal()"></app-poll-form>
        </ng-container>
      </nz-modal>
</div>
