<div class="private-poll-wrapper">
    <h3>Have a private poll code?</h3>
    <form 
        nz-form 
        [formGroup]="searchForm" 
        class="auth-form" 
        (ngSubmit)="onSubmit(notificationTemplate)"
    >
        <nz-form-control>
            <nz-input-group 
                nzSearch 
                class="form-input"
                nzPrefixIcon="lock"
                [nzAddOnAfter]="suffixButton"
            >
                    <input 
                        type="text" 
                        nz-input 
                        formControlName="pollId" 
                        placeholder="Enter Poll Code Here" 
                    />
              </nz-input-group>
              <ng-template #suffixButton>
                    <button 
                        nz-button 
                        nzType="primary"  
                        nzSearch
                    >
                        Unlock Poll
                    </button>
              </ng-template>
        </nz-form-control>
    </form>
</div>

<!------------------------------------TEMPORARY------------------------------------>
<ng-template #notificationTemplate>
    <div class="ant-notification-notice-content">
        <div class="ant-notification-notice-with-icon">
            <span class="ant-notification-notice-icon">
            <i nz-icon nzType="info-circle" style="color: rgb(16, 142, 233);"></i>
            </span>
            <div class="ant-notification-notice-message">Function Coming Soon!</div>
            <div class="ant-notification-notice-description">
                <span style="font-weight:600;">Future Function:</span> Modal will pop up with poll to take OR message that poll could not be found.
                <br />
                <span style="font-weight:600;">Dev Plan:</span> Poll "Code" is simply the poll.id that will be used to query documents in Firestore. If the poll is open, it will be used with FormBuilder to dynamically render the take-poll form nested in the modal.
            </div>
        </div>
    </div>
  </ng-template>
