<div class="poll-card-wrapper">
    <nz-card 
        *ngIf="!isPublic"
        style="width:300px;" 
        [nzActions]="[
            actionResults, 
            actionEdit, 
            actionDelete]"
    >
            <nz-card-meta
            nzTitle="{{poll?.name}}"
            nzDescription="{{poll?.description}}"
            ></nz-card-meta>
            <nz-divider></nz-divider>
            <div class="tag-wrapper">
                <nz-tag *ngIf="poll?.isOpen" nzColor="success">OPEN</nz-tag>
                <nz-tag *ngIf="!poll?.isOpen" nzColor="error">CLOSED</nz-tag>
                <nz-tag *ngIf="poll?.isPublic" nzColor="processing">PUBLIC</nz-tag>
                <nz-tag *ngIf="!poll?.isPublic" nzColor="default">PRIVATE</nz-tag>
            </div>
    </nz-card>
    <nz-card 
        *ngIf="isPublic"
        style="width:300px;" 
        [nzActions]="[
        actionResults, 
        actionTake]"
    >
            <nz-card-meta
                nzTitle="{{poll?.name}}"
                nzDescription="{{poll?.description}}"
            ></nz-card-meta>
    </nz-card>
        <ng-template #actionResults>
            <span nz-tooltip nzTooltipTitle="View Responses" nzTooltipPlacement="bottom">
                <i nz-icon nzType="pie-chart" nzTheme="outline"></i>
            </span>
        </ng-template>
        <ng-template #actionEdit>
            <span nz-tooltip nzTooltipTitle="Edit Poll" nzTooltipPlacement="bottom">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
            </span>
        </ng-template>
        <ng-template #actionDelete>
            <span nz-tooltip nzTooltipTitle="Delete Poll" nzTooltipPlacement="bottom">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
            </span>
        </ng-template>
        <ng-template #actionTake>
            <span nz-tooltip nzTooltipTitle="Take Poll" nzTooltipPlacement="bottom">
                <i nz-icon nzType="check-circle" nzTheme="outline"></i>
            </span>
        </ng-template>
</div>
