.poll-form-item {
    margin: 16px;
}

.dynamic-button {
    display: inline-block;
    margin-right: 5px;
}

.center-button-wrapper {
    text-align: center;
    margin: 16px;
}

.first-option-spacer {
    width: 29px;
}