<div class="auth-wrapper">
    <nz-card class="auth-card" style="width:300px" [nzTitle]="title">
        <ng-template #title>
            <h3 *ngIf="isLogin">Login</h3> 
            <h3 *ngIf="!isLogin">Signup</h3>
            <sub *ngIf="isAuthError" style="color:red;">Invalid email or password...</sub>
        </ng-template>
        <form 
            nz-form 
            [formGroup]="authForm" 
            class="auth-form" 
            (ngSubmit)="onSubmit()"
        >
            <nz-form-item class="form-item">
              <nz-form-control nzErrorTip="Please enter your email">
                <nz-input-group nzPrefixIcon="user">
                  <input 
                    type="text" 
                    nz-input 
                    class="form-input"
                    formControlName="email" 
                    placeholder="Email" 
                  />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-item">
              <nz-form-control nzErrorTip="Please enter your password">
                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="visibilitySuffix">
                  <input 
                    [type]="isPasswordVisible ? 'text' : 'password'"
                    nz-input 
                    class="form-input"
                    formControlName="password" 
                    placeholder="Password" 
                  />
                </nz-input-group>
                <ng-template #visibilitySuffix>
                    <i 
                        nz-icon [nzType]="isPasswordVisible ? 'eye-invisible' : 'eye'" 
                        (click)="isPasswordVisible = !isPasswordVisible"
                    ></i>
                  </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-control>
              <button 
                *ngIf="isLogin && !isLoading"
                nz-button 
                [disabled]="authForm.invalid"
                class="auth-form-button auth-form-margin" 
                [nzType]="'primary'"
              >
                    Log in
              </button>
              <button 
                *ngIf="!isLogin && !isLoading"
                nz-button 
                [disabled]="authForm.invalid"
                class="auth-form-button auth-form-margin" 
                [nzType]="'primary'"
                >
                    Sign up
                </button>
                <div *ngIf="isLoading" >
                    <nz-spin nzSimple></nz-spin>
                    <h3 *ngIf="isLogin" style="color:#525252;">Logging in...</h3>
                    <h3 *ngIf="!isLogin" style="color:#525252;">Signing up...</h3>
                </div>
            </nz-form-control>
                <button 
                    *ngIf="isLogin && !isLoading"
                    nz-button 
                    (click)="toggleIsLogin()"
                    [nzType]="'link'"
                >
                   Or sign up now!
                </button>
                <button 
                    *ngIf="!isLogin && !isLoading"
                    nz-button 
                    (click)="toggleIsLogin()"
                    [nzType]="'link'"
                >
                   Or log in here...
                </button>
        </form>
    </nz-card>
</div>
