.auth-wrapper {
    display: block;
    text-align: center;
    padding: 5%;
}

.auth-card {
    margin: 0 auto;
    padding: 0% 3% 0% 3%;
}

.auth-form {
    max-width: 100%;
}

.form-item {
    margin-bottom: 16px;
}

.form-input {
    width: 300px;
}

.auth-form-margin {
    margin-bottom: 16px;
}

.auth-form-button {
    width: 100%;
}